<widget id="A6054705849500"  version="0.0.1">

	<name>听到</name>

	<description>

		Example For APICloud.

	</description>

	<author email="developer@apicloud.com" href="http://www.apicloud.com">

		Developer

	</author>

	<content src="index.html" />

	<access origin="*" />

	<preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="#fff"/>

	<preference name="windowBackground" value="#fff"/>

	<preference name="frameBackgroundColor" value="#fff"/>

	<preference name="hScrollBarEnabled" value="true"/>

	<preference name="vScrollBarEnabled" value="true"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="true"/>

	<preference name="backgroundMode" value="audio"/>

	<preference name="statusBarAppearance" value="true"/>

	<permission name="readPhoneState" />

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />

	<feature name="gotyeLiveCore">
		<param name="appKey" value="97f2d9b637a546f4a99ebfd734ca8a1a" />
		<param name="accessSecret" value="d54988d45de5487fbc87b92507b08b52" />
	</feature>

	<feature name="wx">
		<param name="urlScheme" value="wx520fa80833292ddc "/>
		<param name="apiKey" value="wx520fa80833292ddc"/>
		<param name="apiSecret" value="959c82802a4eb331eb14c57f6d1020bb"/>
	</feature>

</widget>
